{{ 'home-banner.css' | asset_url | stylesheet_tag }}

<section class="home-banner">
    <!-- <div class="container">  -->
    <div class="banner_wrp">
        <div class="banner_img Desktop">
            <img class="hbanner" src="{{section.settings.banner_image| image_url}}" alt="Banner Image" />
        </div>
        <div class="banner_imgmob Mobile">
            <img class="hbanner-mob" src="{{section.settings.banner_image_mob| image_url}}" alt="Banner Image" />
        </div>
        <div class="banner_text_wrp">
            <h1 class="heading">{{ section.settings.heading }}</h1>
            <p class="subtext">{{ section.settings.subtext }}</p>
            <div class="Btnwrp">
                <a href="{{ section.settings.bannerBtnlink }}" class="shop-btn">{{ section.settings.bannerBtn }}</a>
                <a href="{{ section.settings.learnBtnlink }}" class="learn-btn">{{ section.settings.learnBtn }}</a>
            </div>
        </div>
    </div>
    <!-- </div>  -->
</section>
{% schema %}
{
"name": "Banner Block",
"tag": "section",
"class": "section",
"settings": [
{
"type":"image_picker",
"label":"Banner Image",
"id":"banner_image"
},
{
"type":"image_picker",
"label":"Banner Image Mobile",
"id":"banner_image_mob"
},
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "text",
"id": "subtext",
"label": "Sub text"
},
{
"type":"text",
"label":"Button text",
"id":"bannerBtn"
},
{
"type":"url",
"label":"link",
"id":"bannerBtnlink"
},
{
"type":"text",
"label":"Button text",
"id":"learnBtn"
},
{
"type":"url",
"label":"link",
"id":"learnBtnlink"
}
],
"presets": [
{
"name": "Banner Block"
}
]
}
{% endschema %}