{{ 'home-prod-by-benefit.css' | asset_url | stylesheet_tag }}
<section class="home-benefit">
    <div class="container">
        <div class="wrapper">
            <h1 class="ben-heading">{{ section.settings.heading }}</h1>
            <div class="collection-list">
                
                    {% for block in section.blocks %}
                    {% if block.settings.coll_image != blank %}
                    <div class="benefit-flex">
                        <div class="benefit-inner-flex">
                            <div class="coll-image-wrp">
                                <img class="coll_image" src="{{block.settings.coll_image| image_url}}" alt="collection image" href="{{block.settings.imglink}}" />
                            </div>
                            <div class="coll-title-wrp">
                                <h3 class="coll-name" href="{{block.settings.namelink}}">{{block.settings.coll-name}}</h3>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                
            </div>
        </div>
    </div>
</section>


{% schema %}
{
"name": "Product Benefit Block",
"settings": [
                {
                "id": "heading",
                "label": "Heading",
                "type": "text"
                }

            ],
                "blocks": [
                            {
                                "name": "Collection Block",
                                "type": "cardType",
                                "settings": [
                                                {
                                                "type": "image_picker",
                                                "id": "coll_image",
                                                "label": "Number-Icon"
                                                },
                                                {
                                                "type": "text",
                                                "id": "coll-name",
                                                "label": "Timeline block Heading"
                                                },
                                                {
                                                    "type":"url",
                                                    "label":" Image link",
                                                    "id":"imglink"
                                                },
                                                {
                                                    "type":"url",
                                                    "label":"Text link",
                                                    "id":"namelink"
                                                }
                                            ]
                            }
                         ],
                "presets": [
                            {
                            "name": "Product Benefit Block"
                            }
                        ]
}
{% endschema %}
