{{ 'product-template.css' | asset_url | stylesheet_tag }}

<section class="save-bundle-wrap">
    <div class="save-bundle">
        <div class="bundle-wrap">  
                <div class="recc-text">
                    <h3 class="heading">{{ section.settings.heading }}</h3>
                    <p class="subtext">{{ section.settings.subtext }}</p>
                </div> 
        
                {% assign upsellproduct = section.settings.product %}
                <div class="upsell-media">
                    <div class="upsell-image">
                        <img class="up_image" src="{{ upsellproduct.featured_image | image_url }}" alt="product image" />
                    </div>
                    <div class="upsell-text">
                        <div class="up-product-title">{{upsellproduct.title }}</div>
                        {% form 'product', upsellproduct, id:'AddToCartForm' %}
                        <input type="hidden" id="product-id" name="id" value="{{upsellproduct.selected_or_first_available_variant.id}}">
                        <input type="hidden"  name="quantity" value="1">
                        <div class="cart-wrap">
                            <button type="submit" class="btn btn-primary" data-add-to-cart>
                              Add to Cart
                            </button>
                          </div>
                        {% endform %}
                    </div>
                    
               </div>
               
                
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('[data-add-to-cart]').addEventListener('click', function (e) {
      e.preventDefault();
      var form = document.getElementById('AddToCartForm');
      var formData = new FormData(form);
      fetch('/cart/add.js', {
        method: 'POST',
        body: formData
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          window.location.href = '/cart';
        })
      .catch(function(error) {
        console.error('Error:', error);
      });
    });
  });
</script>
{% schema %}
{
    "name": "Save with Bundle Block",
    "tag": "section",
    "class": "section",
    "settings": [ 
                   {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "subtext",
                        "label": "Sub text"
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                      }
                ],
"presets": [
        {
        "name": "Save with Bundle Block"
        }
    ]
}
{% endschema %}

